/*Background Formats
========================================*/
.backgroundWrapper {
  content: '';
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* .backgroundWrapper::after {
  content: '';
  background: url('images/background2.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

#backgroundCircle {
  width: auto;
  height: 50%;
  opacity: 0.5;
}

/*Text Formats
========================================*/
.textWrapper {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Text Animation
========================================*/
.fadeinanimated {
  text-align: center;
  opacity: 0;
  animation: fadein 2s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#title {
  animation-delay: 1s;
}

#location {
  animation-delay: 2s;
}

/*Footnote formats
========================================*/
#footnote {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -97%);
  opacity: 0.7;
}

#footnote:hover {
  opacity: 1;
}
/*Arrows formats
========================================*/
i {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  position: absolute;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 45%;
  left: 95%;
}

.right:hover{
  border-width: 0 5px 5px 0;
}

.left {
  position: absolute;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: 45%;
  left: 5%;
}

.left:hover{
  border-width: 0 5px 5px 0;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
